$body-background: #fff;

$small-media-width: 576px;
$medium-media-width: 768px;
$large-media-width: 992px;
$x-large-media-width: 1200px;
$xx-large-media-width: 1400px;

$container-min-width: 576px;
$color-btn: #0d7ed6;
$color-btn-hover: #0d76c8;
$color-btn-active: #0c6eba;
$color-btn-delete: #ba1f0b;
$color-font: #0076c0;
$color-menu-hover: #0269b6;
$color-menu-background-gradient: linear-gradient(to bottom, #0171bb 0%, #0087d3 40%, #0086cf 50%, #027cc9 51%, #037fc5 60%, #047ec7 100%);
$color-menu-background: #0171bb;
$color-border: #c1dff7;
$color-imput-clean: #b0b7bd;

$color-tr-hover-background: rgba(0, 0, 0, 0.15);
$color-tr-hover: #212529;
